@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  gap: 20px;
}

header {
  grid-column: 1 / 5;
  text-align: center;
  justify-content: center;
  margin: 30px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid #eef0f1;
}
a:hover {
  color: #0762c8;
}
a:active {
  background-color: #0762c8;
}

h1 {
  border-top: 2px solid #0762c8;
  border-bottom: 2px solid #0762c8;
  margin-top: 30px;
}

.logo_img {
  height: 30px;
}

input,
select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #616365;
  width: 100%;
}
.formContainer {
  grid-area: 2 / 2;
}

.formContainer form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.firstname {
  grid-column: 1;
}
.email {
  grid-column: 1 / 3;
}
.password {
  grid-column: span 2;
}
.check {
  grid-column: 1;
}
.radio {
  grid-column: 1;
}
.send {
  grid-column: 1;
}

button {
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s;
}
button:hover {
  background-color: rgba(7, 98, 200, 0.5);
}

footer {
  grid-column: 1 / 3;
  text-align: center;
  padding-top: 50px;
}
